[submodule "libraries/phantomstyle/src"]
	path = libraries/phantomstyle/src
	url = https://github.com/randrew/phantomstyle
[submodule "vcpkg-registry"]
	path = vcpkg-registry
	url = git@github.com:trailofbits/multiplier-vcpkg-registry.git
