[submodule "libraries/doctest/src"]
	path = libraries/doctest/src
	url = https://github.com/doctest/doctest
[submodule "libraries/vendored/multiplier"]
	path = libraries/vendored/multiplier
	url = git@github.com:trailofbits/multiplier
	branch = main
[submodule "libraries/phantomstyle/src"]
	path = libraries/phantomstyle/src
	url = https://github.com/randrew/phantomstyle
[submodule "libraries/xxhash/src"]
	path = libraries/xxhash/src
	url = https://github.com/Cyan4973/xxHash
[submodule "libraries/qt-advanced-docking-system/src"]
	path = libraries/qt-advanced-docking-system/src
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System
